body{
    display: flex;/*使用fiex排版，讓子元素能夠置中對齊*/
    flex-direction: column; /*子元素垂直排列*/
    align-items: center;/*水平置中所以子元素*/
    font-family: "MS Mincho", "Hiragino Mincho Pro", "Songti SC", serif;
    margin: 0;/*移除預設編劇，避免外圍多餘空白*/
    padding: 0px;/*頁面內部上下左右留20px空間*/
}

/*上方網頁標題的方塊*/
.container {
    width: 100%;
    background-color: #f2f5f7;
    padding: 30px 20px;
    text-align: center;

}
.title-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* ✅ 螢幕小時自動變上下排列 */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
  }

  .title-row h1 {
    font-size: clamp(24px, 5vw, 48px); /* 螢幕大小自動調整字體 */
    margin: 0;
    color: #333333;
    text-align: center;
}  

.title-row .button {
    color: #333333;
    background-color: #ffd1dc;
    font-size: clamp(14px, 2vw, 20px);
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
  
.title-row .button:hover {
    background-color: pink;
}
  

/*底下GRID的骨架*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    background-color: #f2f5f7;
}

/*GRID裡格子的設計*/
.grid-box{
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;/*背景顏色為淡灰色*/
    border: 1px solid #ccc;/*灰色邊框，寬度為1px*/
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);/*添加淡淡的陰影，讓格子立體一點*/
}

/*格子裡的標題區塊設定*/
.box-title{
    background-color: #ffd1dc;
    display: flex;/*使用fiex排版，讓子元素能夠置中對齊*/
    flex-direction: column; /*子元素垂直排列*/
    align-items: center;/*水平置中所以子元素*/
    padding:20px 0;
    font-size:clamp(18px,2vw,24px);
    font-weight: bold;
    color:#333333;
}

/*內文區塊*/
.box-text{
    padding: 20px;
    font-size:clamp(14px,1.8vw,18px);
    line-height: 1.6; /*行高*/
    color:#333333;
    text-align: left;
}

.github-icon {
    width: 50px;  /* 可調整大小 */
    height: 50px;
    margin-top: 10px;
    transition: transform 0.2s ease;
    cursor: pointer;
}
  
.github-icon:hover {
    transform: scale(1.1); /* 滑鼠滑過會微放大 */
}
  
