.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;         /* 固定在畫面上 */
    top: 0;                  /* 頂部對齊視窗 */
    left: 0;                 /* 左側對齊視窗 */
    width: 100%;             /* 寬度全滿 */
    height: 100%;
    max-height: 60px;
    background-color: #fff;  /* 背景為白色，不會透出底下 */
    z-index: 1000;           /* 疊在最上面 */
    padding: 0 20px ;         /* 上下內距 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 下方陰影讓它浮起來 */
}

.menu-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    width: 100%;
    max-width: 700px;
    height: 100%;
    max-height: 40px;
}

.button{
    width: 100%;
    max-width: 135px;
    margin: 10px 5px;
    font-size: clamp(14px,2vw,16px);
    color: #333333;
    background-color: #ffd1dc;
    text-decoration: none;
    padding: 6px 30px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.button:hover{
    background-color: pink;
}

.accountName{
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 40px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(16px,2vw,20px);
    border: 2px solid black;
    padding: 0 8px;
    border-radius: 50px;
    background-color:white;
    font-weight: bold;
}


/*整體頁面置中對齊*/
body{
    font-family: "MS Mincho", "Hiragino Mincho Pro", "Songti SC", serif;
    text-align: center; /*所有文字置中對齊*/
    padding: 40px; /*整體上下左右留白40px,避免貼邊*/
    background-color: #f9f9f9;/*淺灰色背景讓畫面不刺眼*/
}

h1{
    margin-top:10px;/*標題上方加上空間避免貼邊*/
    margin-bottom: 20px;/*標題下方加上空間避免貼邊*/
    color: #333333;/*設定顏色*/
    font-size: 40px;/*標題預設32px,比預設大,讓標題突出*/
}

/*按鈕基本樣式*/
button{
    width: 50%;/*設定輸入匡250px*/
    max-width: 200px;
    font-weight: bold;
    padding: 10px 18px;/*上下10px 左右18px的內間距，讓按鈕不壅擠*/
    margin: 10px 5px;/*上下10px 左右5px，按鈕與按鈕間的間距*/
    border: none; /*拿到瀏覽器預設的邊框樣式*/
    background-color: #ffd1dc;/*設定綠色背景，看起來想”確認“風格*/
    color: #333333;/*按鈕文字為白色*/
    border-radius: 6px;/*四個角設為圓弧形，看起來更柔和*/
    cursor: pointer;/*滑鼠移過去會變成手指狀，表示可點擊*/
    font-size: clamp(8PX,2vw,16px);
    transition: background-color 0.3s;/*css的動畫屬性，
    當滑鼠一上去hover時，花0.3秒變成hover的顏色，會有滑順效果*/
}

/*滑鼠移到按鈕時變顏色*/
button:hover{
    background-color: pink;
}

/*表格整體樣式*/
table{
    border-radius: 12px;
    overflow: hidden;
    margin: auto;/*表格至中*/
    border-collapse: collapse;/*讓邊框合併，不會出現雙線（如果沒加，兩條邊會重疊）*/
    width: 90%;/*寬度佔頁面的90%,留白比較舒服*/
    background-color: white;/*表格底色設定為白色*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,1);/*表格周圍加一層淡淡的陰影，會看起來立體一點*/
}

/*表格標題欄位樣式*/
th,td{
    border: 1px solid #ccc;/*每一格加上淺灰邊框*/
    padding: 10px;/*內距10px，讓文字不要太擠*/
    text-align: center;/*讓文字置中對齊*/
}

th{
    background-color: #ffd1dc;/*表格標題列的底色為淺灰，與資料分開*/
    cursor: pointer;/*滑鼠移上去變成手指頭，暗示可以互動*/
}

tr:hover{
    background-color: #f9f9f9;
}

input[type="checkbox"]{
    transform: scale(1.2);/*把勾選的框框變大一點*/
}

#noteKeyword{
    padding: 10px 14px; /*設定內距：上下為8左右為12，讓文字不要貼邊*/
    border: 1px solid #ccc;/*設定邊框為1px，寬、顏色是淡灰色*/
    border-radius: 8px; /*圓角為8px，讓邊角比較圓潤*/
    font-size: clamp(8px,2vw,16px);
    width: 100%;/*設定輸入匡250px*/
    max-width: 175px;
    transition: border-color 0.3s ease;/*增加動畫效果，邊框顏色變化會在0.3秒內平滑過渡*/
}

#noteKeyword:focus{
    border-color: #007bff;
    outline: none;
}

#startDate{
    padding: 10px 14px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: clamp(8px,2vw,16px);
    width: 100%;/*設定輸入匡250px*/
    max-width: 175px;
    transition: border-color 0.3s ease;
}

#startDate:focus{
    border-color: #007bff;
    outline: none;
}

#endDate{
    padding: 10px 14px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: clamp(8px,2vw,16px);
    width: 100%;/*設定輸入匡250px*/
    max-width: 175px;
    transition: border-color 0.3s ease;
}

#endDate:focus{
    border-color: #007bff;
    outline: none;
}

.hidden{
    display: none !important;
}

#overlay{

    position: fixed; /*固定在螢幕上*/
    top: 0;
    left: 0;
    width: 100vw;/*全螢幕寬度*/
    height: 100vh;/*全螢幕高度*/
    background-color: rgba(0, 0, 0, 0.4);/*背景變灰色*/
    display: flex;/*使用fiex置中*/
    align-items: center;/*垂直置中*/
    justify-content: center;/*水平置中*/
    z-index: 999;/*蓋在最上層*/
}

#addForm{
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 10px;/*原角邊框*/
    width: 60%; /*視窗佔60%寬度*/
    max-width: 500px;/*最寬不超過500px*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);/*陰影*/
    z-index: 1000;
}

#overlayBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
}